[submodule "external/donut"]
	path = external/donut
	url = https://github.com/NVIDIA-RTX/donut.git
[submodule "media/glTF-Sample-Assets"]
	path = media/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
